*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background__img{
    width: 100%;
    height: 100%;
    background: url(img/book-shelf-background.jpeg) no-repeat center center fixed;
    background-size: cover;
}

 body { 
    margin: 0;
  }

  .container{
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

.container__box{
    text-align: center;
    color: rgb(205, 205, 205);
    margin: 40px auto;
    fill: rgba(22,22,22, 0.5);
    width: 100%;
    max-width: 1400px;
    padding-bottom: 32px;
}

.book-list{
    text-align: center;
    /* color:  #b5ad9feb; */
    color: rgb(205, 205, 205);
    text-shadow: 20 3px 3px #2b2310d4;
}

.book-list__img{
    width: auto;
    height: 40px;
    object-fit: cover;
}

.book-list__table{
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.618);
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 20px 40px #94949415;
}

tr, td, th {
    border: 2px solid rgba(0, 0, 0, 0.562);
}

th{
    padding: 15px;
    background-color: rgba(4, 34, 40, 0.741);
}

tr{
    background-color: rgba(0, 0, 0, 0.721);
}

td{
    padding: 15px;
    padding-left: 40px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #00000060;
}

tr:hover {
    background-color: #2b2310d4;
    color: rgb(255, 255, 255);
}


